
.progressBar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 7px;
    padding: 1px;
    overflow: hidden; 
  }
  
  .progressBarChange {
    height: 20px;
    width: 0;
    border-radius: 3px;
    background-color: #d11242;

    transition: width .2s ease-in-out;
    // background: repeating-linear-gradient(
    //   -45deg,
    //   lightblue,
    //   lightblue 10px,
    //   royalblue 10px,
    //   royalblue 20px
    // );
    background-image: linear-gradient(-45deg,#c8113f 25%,transparent 0,transparent 50%,#c8113f 0,#c8113f 75%,transparent 0,transparent);
    background-size: 26px 26px;
    animation: progress-stripes 6s linear infinite;
  }
  
  @keyframes progress-stripes {
    0% { background-position: 100% 0; }
    100% { background-position: -100% 0; }
  }
  